* {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  
  #text {
    display: none;
  }
  
  hr {
    margin: 10px 0;
    display: none;
  }
  
  .main {
    width: 500px;
    text-align: center;
  }
  
  #list-holder {
    padding: 5px;
  }
  
  .list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    align-items: center;
    font-weight: 700;
    padding: 5px;
  }
  
  #input,
  #input1 {
    margin-top: 5px;
    padding: 0 3px;
    border: 2px solid #000;
  }
  
  .remove-bttn,
  #butn {
    background: #fff;
    border: 2px solid #000;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: 3px 5px;
  }
  
  h1 {
    margin: 5px 0;
  }
  